*, *:before, *:after {
    box-sizing: border-box;
}
:root {
    --game-border-width: 2px;
}
html, body {
    margin: 0;
    padding: 0;
}
.action-body {
    /* NOTE: ACTION_BODY_MARGIN is duplicated in index.js and index.css. */
    margin: 10px;  /* ACTION_BODY_MARGIN */
}
.game-field {
    border: solid var(--game-border-width) black;
    position: relative;
    display: flex;
    box-sizing: content-box;  /* make height control height of area inside border */
}
.paddle {
    position: absolute;
    background-color: black;
    border-radius: 1px;
}
.ball {
    position: absolute;
    background-color: black;
    border-radius: 1000px;  /* make circular regardless of width and height */
}
.particle {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 1000px;  /* make circular regardless of width and height */
}
.paddle-hint {
    position: absolute;
    color: red;
}
.countdown {
    margin: auto;
    color: red;
}
.up-and-down-buttons {
    user-select: none;
}
.up-button, .down-button {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up-button {
    /* NOTE: BUTTON_MARGIN is duplicated in index.js and index.css. */
    margin: calc(10px + var(--game-border-width)) 10px 0 10px;  /* BUTTON_MARGIN */
    border-bottom: 1px solid black;
}
.down-button {
    /* NOTE: BUTTON_MARGIN is duplicated in index.js and index.css. */
    margin: 0 10px 10px 10px;  /* BUTTON_MARGIN */
}
.controls-hint {
    float: left;
}
